@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    text-align: center;
}

hr {
    border-style: none;
    width: 70px;
    height: 2px;
    background: #CFCFCF;
    margin-bottom: 0px;
}

h3 {
    font-weight: 400;
    font-size: 32px;
}

h4 {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #000;
    color: #fff;
    height: 30px;
    width: 100%;
    padding: 7px;
}

header p {
    margin: 0;
    font-size: 12px;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 0px 20px;
}

.logo {
    height: 36px; 
}

nav li {
    display: inline-block;
}

.nav-link {
    margin-left: 23px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.nav-link:hover {
    border-bottom: 1px solid;
}

.burger {
    display: none;
}

.burger-line {
    display: block;
    margin: 5px;
    height: 5px;
    width: 50px;
    background-color: #000;
}

.welcome-sub {
    background-image: url("img/background.jpg"), linear-gradient(45deg, #f5f7fa, #c3cfe2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    padding-top: 50px;
}

.welcome-sub h1 {
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 22px;
}

.welcome-sub p {
    font-size: 15px;
    margin-bottom: 22px;
    margin-top: 0;
}

.btn {
    width: 200px;
    height: 30px;
    background-color: #FF4A32;
    color: #FFF;
    font-size: 15px;
    border-radius: 35px;
    padding: 5px 47px;
}

.btn:hover{
    -webkit-box-shadow: 0px 0px 34px 21px rgba(255, 74, 50, 0.4);
    -moz-box-shadow: 0px 0px 34px 21px rgba(255, 74, 50, 0.4);
    box-shadow: 0px 0px 34px 21px rgba(255, 74, 50, 0.4);
}

.recalling {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 80px;
    width: 100%;
}

.recalling img {
    margin: 0 70px;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 52px;
}

.choice-descr {
    max-width: 685px;
}

.choice-descr p {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 25px;
}

.choice-blocks {
    display: flex;
    justify-content: center;
}

.choice-block {
    width: 580px;
    height: 580px;
    background-color: #2b5e60;
    display: block;
    color: #fff;
    padding: 225px 170px;
    margin: 45px 10px 20px 10px;
    background-position: center;
    background-size: cover;
    transition: .5s;
}

.choice-block:hover {
    transform: translateY(-20px);
    -webkit-box-shadow: 0px 0px 21px 8px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: 0px 0px 21px 8px rgba(34, 60, 80, 0.22);
    box-shadow: 0px 0px 21px 8px rgba(34, 60, 80, 0.22);
}

.boards{
    background-image: url(img/boards.jpg);
}

.revs {
    background-image: url(img/revs.png);
}

.elec-skate {
    background-color: #c3cfe2;
    background-image: url(img/el-skateb-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.elec-skate p {
    margin: 0px;
}

.elec-skate h2 {
    font-weight: 700;
    font-size: 45px;
    margin-top: 11px;
    margin-bottom: 15px;
}

.elec-skate a {
    margin-top: 20px;
}

.boosted-rev {
    display: flex;
    justify-content: center;
    text-align: left;
}

.boosted-rev-block {
    width: 380px;
    height: 380px;
    margin: 45px 10px;
}

.boosted-rev-block img{
    width: 380px;
    height: 380px;
}

.subblock {
    padding: 65px 20px;
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.shop-block {
    width: 100%;
    height: 33.3%;
    background-color: #2b5e60;
    display: block;
    color: #fff;
    padding: 208px 0 203px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.shop-block p {
    text-transform: uppercase;
}

.stealth {
    background-image: url(img/shop_stealth.jpg);
}

.plus {
    background-image: url(img/shop_plus.jpg);
}

.mini {
    background-image: url(img/shop_mini.jpg);
}

.video {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.video iframe {
    padding: 0 20px;
}

.accessories {
    width: 100%;
}

.accessories h3 {
    font-weight: 700;
    font-size: 32px;
}

.accessories-blocks {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 4px;
}

.accessories-block {
    margin: 0px 20px;
    width: 186px;
    height: 241px;
}

.accessories-block img{
    height: 150px;
    width: 150px;
}

.accessories-block h6 {
    font-weight: 400;
    color:#FF4A32;
    font-size: 15px;
    margin: 12px 0px 3px 0px;
    transition: .5s;
}

.accessories-block p {
    font-size: 14px;
    margin: 0;
    color: #373737;
}

.accessories-block strong {
    color: #FF2121;
}

.accessories-block:hover {
    border: 1px solid #000;
}

.sold-p {
    color: rgba(0, 0, 0, 0.3);
}

.separator {
    height: 66px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 0px 10px rgba(41, 44, 61, 0.34);
    margin-bottom: 28px;
}

.advantages {
    background-color: #000;
    height: 310px;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 35px 0px 75px 0px;
}

.advantages img {
    height: 87px;
    width: 87px;
}

.advantages h3 {
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.advantages p {
    font-size: 15px;
    margin: 0px;
}

.advant-block {
    max-width: 270px;
    margin: 0px 70px;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-blocks {
    background-color: #F7F7F7;
    height: 330px;
    padding: 50px 130px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-block {
    text-align: left;
}

.footer-block h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 400;
}

.footer-block p {
    font-size: 14px;
    max-width: 367px;
}

.footer-link {
    color: #000;
}

.footer-link:hover {
    color: #373737;
}

.footer-bottom {
    height: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #FF4A32;
}

@media (max-width: 1320px) {
    .choice-block {
        width: 380px;
        height: 380px;
        padding: 0px;
        padding-top: 90px;
    }

    .accessories-block:last-child {
        display: none;
    }

    .footer-bottom {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1100px) {

    .accessories-block img {
        height: 100px;
        width: 100px;
    }

    .recalling img {
        margin: 0 35px;
        width: 10%;
    }

    .advantages {
        flex-wrap: wrap;
        height: 620px;
    }

    .footer-blocks {
        padding: 40px 40px;
    }

    .boosted-rev-block {
        width: 25%;
        height: 25%;
    }
    
    .boosted-rev-block img {
        width: 100%;
        height: 100%;
    }

    .subblock {
        padding: 0;
    }
}
@media (max-width: 960px) {
    .burger {
        display: block;
    }

    nav ul {
        display: none;
    }

    .boosted-rev-block h3{
        margin: 5px;
    }
}