@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bonheur+Royale&display=swap');

@font-face {
    font-family: 'PixelFont';
    src: url("fonts/PixelFont.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
}

.theme-light {
    --color-primary: #dfe8e8;
    --color-secondary: #fbfbfe;
    --color-accent: #897CB1;
    --font-color: #897CB1;
}

.theme-dark {
    --color-primary: #626c74;
    --color-secondary: #2a2c2d;
    --color-accent: #574b7a;
    --font-color: #ffffff;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-secondary);
    color: var(--font-color);
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
}

.main {
    max-width: 1400px;
}

.toggle-theme {
    width: 30px;
    opacity: .5;
    margin: 20px;
}

.toggle-theme:hover {
    cursor: pointer;
    opacity: 1;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    gap: 40px;
    align-items: center;
    margin: 40px 20px;
}

.card {
    display: block;
    transition: .5s;
    border-radius: .5px solid;
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    height: 500px;
    text-align: justify;
}

.card:hover, .flappy-block:hover {
    transform: translateY(-10px);
    background-color: var(--color-accent);
    color: #fefefe;
    -webkit-box-shadow: 0px 5px 52px 12px rgba(34, 60, 80, 0.42);
    -moz-box-shadow: 0px 5px 52px 12px rgba(34, 60, 80, 0.42);
    box-shadow: 0px 5px 52px 12px rgba(34, 60, 80, 0.42);
    border-radius: 30px;
}

.card img {
    width: 100%;
    border-radius: 15px;    
}

.flappy-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('img/flappy.gif');
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    background-position: center;
    text-align: center;
    grid-column: span 3;
    border-radius: 15px;
    height: 300px;
    width: 100%;
    color: #fff;
    transition: .5s;
}

.flappy-block h3 {
    font-family: 'PixelFont', cursive;
    font-size: 30px;
}


@media (max-width: 1200px) {
    .container {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    .flappy-block {
        grid-column: span 2;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        .flappy-block {
            grid-column: span 1;
        }
    }

    .card {
        height: auto;
    }
}